.schild {
  display: inline-block;
  max-width: 100%;
  padding: var(--abstand-1) var(--abstand-3);
  border-radius: var(--radius-klein);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hell {
  color: var(--farbe-text);
}

.dunkel {
  color: var(--farbe-hintergrund);
}
