# Store all text files in the repository with LF.
# Important because the files later run in Linux containers
# (shell scripts with CRLF break there).
* text=auto eol=lf

# Windows scripts need CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

# Never touch binary files
*.png binary
*.jpg binary
*.jar binary
